<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first-heading</title>
    <link rel=”stylesheet” href=”style.css”>
</head>
<body>
    <!--Fondo Exterior-->
    <div class="container">
        <div class="row">
            <div class="col-md-8 p-5">
                <!--Título-->
                <div class="title-first-heading">
                    <div class="row">
                        <div class="col-md-5 pe-0">
                            <div class="title-first-words">
                                <h2>This First Heading</h2>
                            </div>
                        </div>
                        <div class="col-md-7 ps-0">
                            <div class="title-second-words">
                                <h2>Will Catch Your Eye</h2>
                            </div>
                        </div>
                        <div class="first-heading-paragraph">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, veniam? Quisquam non explicabo hic, perspiciatis cumque quia incidunt quasi fuga! Atque autem ipsa facere iusto architecto, a ullam minus nesciunt!</p>
                        </div>
                        </div>
                </div>
            </div>
            <!--Imagen-->
            <div class="col-md-4">
                <div class="first-heading-image">
                    <img src="https://i.pinimg.com/736x/b4/f5/2f/b4f52f959c054825e413ed6d4aaabbd4.jpg" class="rounded-circle" alt="Dibujo animado de un hombre">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
