<nav class="navbar bg-dark">
  <div class="container-fluid">
    
    <span class="navbar-brand mb-0 h1 text-danger me-4">
      Start Bootstrap
    </span>

   
    <div class="d-flex me-auto ">
      <button type="button" class="btn btn-dark text-secondary  ">About</button>
      <button type="button" class="btn btn-dark text-secondary ">Services</button>
      <button type="button" class="btn btn-dark text-secondary">Portfolio</button>
      <button type="button" class="btn btn-dark text-secondary">Contact</button>
    </div>

  </div>
</nav>
