<!-- your html code here -->

<div class="container bg-white p-3"> <!--este es el contenedor principal-->
<div class="row col-12">
 <h2>Portfolio</h2>
 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias nemo dolor voluptates ullam, reiciendis esse deserunt incidunt atque consequatur, dolore temporibus molestias tenetur aliquam. Fugit fuga aut veritatis consequuntur accusantium.</p>
</div>
<div class="row">
 <div class="card col-lg-4 col-md-6 col-sm-12 border-0"> <!--este es el card 1-->
  <img src="https://plainbackground.com/plain1024/abaaa5.png" class="card-img-top" alt="imagen gris">
  <div class="card-img-overlay text-center mt-3">
    <h5 class="card-title fs-2 text-secondary"><br><br>700 x 400</h5>
  
  </div>
  <div class="card-body">
    <h5 class="card-title text-primary text-start">Project name</h5>
    <p class="card-text fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reprehenderit natus temporibus nulla quam deleniti veniam totam culpa. Numquam quae, voluptates maxime quasi.</p>
    </div>
    </div>

    <div class="card col-lg-4 col-md-6 col-sm-12 border-0"> <!--este es el card 1-->
  <img src="https://plainbackground.com/plain1024/abaaa5.png" class="card-img-top" alt="imagen gris">
  <div class="card-img-overlay text-center mt-3">
    <h5 class="card-title fs-2 text-secondary"><br><br>700 x 400</h5>
  
  </div>
  <div class="card-body">
    <h5 class="card-title text-primary text-start">Project name</h5>
    <p class="card-text fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reprehenderit natus temporibus nulla quam deleniti veniam totam culpa. Numquam quae, voluptates maxime quasi.</p>
    </div>
    </div>

  <div class="card col-lg-4 col-md-6 col-sm-12 border-0"> <!--este es el card 1-->
  <img src="https://plainbackground.com/plain1024/abaaa5.png" class="card-img-top" alt="imagen gris">
  <div class="card-img-overlay text-center mt-3">
    <h5 class="card-title fs-2 text-secondary"><br><br>700 x 400</h5>
  
  </div>
  <div class="card-body">
    <h5 class="card-title text-primary text-start">Project name</h5>
    <p class="card-text fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem reprehenderit natus temporibus nulla quam deleniti veniam totam culpa. Numquam quae, voluptates maxime quasi.</p>
    </div>
    </div>

</div>




    



