<!-- your html code here -->
<div class="container bg-white p-5"> <!--este es el contenedor principal-->
<div class="row">
 <div class="card col-sm-12 col-md-3 border-0 mt-3"> <!--aqui va la imagen-->
  <img src="https://img.freepik.com/fotos-premium/plano-manos-persona-trabajando-computadora-portatil-espacio-trabajo-oficina-casa-bohemio-estetico-trabajo-casa-cuaderno-pampas-hierba-luz-sol-sombra-mesa-vista-plana-superior_408798-10373.jpg" class="img-fluid rounded-circle" alt="ordenador">
 </div>
  
  <div class="card-body col-sm-12 col-md-9"> <!--aqui va el texto-->
    <h5 class="card-title text-dark text-start fs-2">The second Heading <span class="text-secondary">Is pretty cool too</span></h5>
    <p class="card-text fs-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ut cumque numquam autem, illo facilis commodi architecto voluptas sit vero quam eius ullam. Porro omnis placeat possimus! Nemo, cum recusandae.</p>
    </div>
    </div>
    </div>